.user {
  .card-panel {
    .row {
      margin-bottom: 0;
    }
    .middle {
      overflow: hidden;
      text-overflow: ellipsis;
      .name {
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}
